<h1>Carpathian Floria</h1>
<p>Graphical visualisation of
  <a href="http://ekontsh.civicua.org/system.php">"Directory names of plants of Ukraine"
  </a>
</p>

<div id="mygraph"></div>

<script type="text/javascript">
  var container = $("#mygraph").get(0);
  var graph = new vis.Graph(container, data, options);
</script>
